<?xml version="1.0"?>
<web-app version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  
    <welcome-file-list>
     	<welcome-file>EntryServlet</welcome-file>
    	<welcome-file>index.jsp</welcome-file>      
    </welcome-file-list>
 
    <servlet>
        <servlet-name>EntryServlet</servlet-name>
        <servlet-class>Servlet.EntryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntryServlet</servlet-name>
        <url-pattern>/EntryServlet</url-pattern>
    </servlet-mapping>
</web-app>